* {
    margin: o;
    padding: 0;
}
 
      body { 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        max-width: 1500px;
        margin: auto;

      }

      .img-back {  
        display: flex;
        flex-flow: column;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding-top: 16px;
        padding-bottom: 192px;
        background-image:url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,width=1200,format=auto,quality=60/https://cdn.doordash.com/media/consumer/home/landing/new/hero_landing_us_alt.jpg);

      }

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      #logo1 {
        width: 150px;
        height: 75px;
        
      }
    
    .content-logo { 
        margin-left: 510px;
        margin-right: 0;
        margin-bottom: 3; }


    
   
    
    .btns-1{ 
        margin-left: 370px;
        font-weight: 600;
         }

         #btn-css {
      color: black;
      background-color: white;
      font-size: 15px;
      font-weight: 700;
      border: 2px solid white;
      padding: 8px;
      border-radius: 80px;
      margin-right: 5px;
    }
    li {
      display: inline-block;
      padding: 5px;
      margin: 0;
    }       

    .link1{
      text-align: center;
      
    }
    #al1 {
      color: white;
      cursor: pointer;
      text-decoration: none;
    }
    #al1:hover {
      color: tomato;
      transition: 0.4 all;
    }
   
    .text-2 {
      display:flex ;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
    }

    #divBusca{
      display: flex;
      align-items: center;
      background-color:white;
      border:solid 1px;
      border-radius:15px;
      width:300px;
    }
    
    #txtBusca{
      float:left;
      background-color:transparent;
      padding-left:5px;
      font-size:18px;
      border:none;
      height:32px;
      width:260px;
    }

    #btnBusca {
      width: 19px;
      height: 23px;
      
    }
    .h2-title {
      color: white;
      font-family:Segoe UI;
      text-align: center;
      font-size: 38px;
      font-weight: 700px;
    }
    
    #btn-pesquisar {
      border-radius: 6px;
    }

    h3 {
      font-size: 40px;
      margin-top: 1vh;
      margin-bottom: 0;
    }
    p {
      font-size: 17px;
      margin-bottom: 2vh;
      font-weight: 600;
    }
    
    #link01 {
      color: rgb(214, 12, 12 );
      text-decoration: none;
    }

    #link02 {
      color: rgb(214, 12, 12 );
      text-decoration: none;
    }
    
    #link03 {
      color: rgb(214, 12, 12 );
      text-decoration: none;
    }
    .text-imgs {
      display: flex;
      flex-direction: row;
      -webkit-box-pack: center;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      margin-top: 10%;
      margin-left: 15%;
      margin-right: 15%;
    
      text-align: center;
    }

    #tel {
      height: 154px;
      width: 154px;
    }

  .sec2-1 {
    display: flex;
    padding-top: 6%;
    margin-top: 4%;
    padding-bottom: 8%;
    justify-content: space-around;
    width: 100%;
    gap: 3%;
    align-items: center;
  }
  .img-comida {
    width: 700px;
    height: 700x;
    left: 0;
  }
  .alink {
    color: white;
    font-weight: 700;
    background-color: rgb(214, 12, 12);
    border-radius: 15px;
    padding: 12px;
    text-decoration: none;

    }

    .sec3-1 {
      background-color: rgb(255, 240, 237);
      display: flex;
      padding-top: 6%;
      margin-top: 4%;
      padding-bottom: 8%;
      justify-content: space-around;
      width: 100%;
      gap: 3%;
      align-items: center;     }


footer {
  background-color: #191919;
  color: white;
  
}


.titulo-foot {
  display: flex;
  margin: 0;
  position: relative;
  font-weight: 400;
  
}







.dummy_page {
  height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0px;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #1e1e20;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons li a img {
  width: 40px;
  height: 40px;
  transition: all 0.3s;
}

.social-icons li a:hover img {
  opacity: 0.8;
}

#lang {
  color:#999999;
  font-size: 15px;
  font-weight: bold;
}
#linguagem {
  border-radius: 25px;
  font-weight: 600;
}
option {
  font-family: 'Segoe UI';
  font-weight: 600;
}

.andr-icon {
  display: flex;
  align-items: center;
}
#android {
  color:#999999;
  font-size: 15px;
  font-weight: bold;

}

.ios-icon {
  display: flex;
  align-items: center;
}

#iosimg {
  height: 30px;
  width: 30px;
}